@model List<WebApp01.Models.Usuario>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <table class="col-md-12">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobre Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.UltimoNome</td>
                    <td>@item.Telefone</td>
                    <td>@item.Email</td>
                    <td>@Html.ActionLink("Editar Cadastro", "EditarCadastro", new { id= item.Id }) </td>
                </tr>
            }
        </tbody>
        
    </table>

    <div class="col-md-12" >
        @Html.ActionLink("Novo Usuario", "Cadastro", "Home", htmlAttributes: new { @class= "col-md-2 btn btn-primary" })
    </div>  

</div>